<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UNDOXXED</title>

    <!-- Styles -->
    <link rel="stylesheet" href="./css/tailwind.css" />

    <!-- Scritps -->
    <script src="./js/alpine.js" defer=""></script>
  </head>

  <body
    class="flex items-center justify-center min-h-screen antialiased bg-ob-blackbg"
  >
    <div
      class="fixed inset-x-0 top-0 z-50 flex items-center justify-between h-12 mx-12 bg-ob-blackborder"
    >
      <h1 class="text-2xl font-black text-white font-proxima">UNDOXXED</h1>
    </div>
    <div class="fixed inset-y-0 right-0 z-50 flex w-12 bg-ob-blackborder"></div>
    <div
      class="fixed inset-x-0 bottom-0 z-50 flex h-12 bg-ob-blackborder"
    ></div>
    <div class="fixed inset-y-0 left-0 z-50 flex w-12 bg-ob-blackborder"></div>

    <!-- comming soon -->
    <h1
      class="text-3xl font-black text-white uppercase sm:text-5xl md:text-7xl lg:text-8xl"
    >
      coming soon
    </h1>
  </body>
</html>
